@font-face {
    font-family: "Sans";
    src: url(CanvaSans.ttf);
}

@font-face {
    font-family: "bold";
    src: url(bold.ttf);
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Sans';
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    position: relative; /* Make .login-box a relatively positioned container */
    width: 500px;
    height: 350px;
    background-color: #C6D3E3;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    color: #153860;
    margin: 5px 0; /* Adjust margin to ensure spacing below the heading */
    font-family: 'bold';
    position: relative; /* Ensure h1 is positioned within the flow */
    z-index: 1; /* Lower z-index to stay below the logo */
    font-size: 36px;
}

.logo {
    position: absolute;
    width: 70px; /* Adjust the width as needed */
    top: 10px; /* Adjust as needed to position the logo above the text */
    left: 62%;
    z-index: 2; /* Higher z-index to appear above the h1 */
}

.email-container {
    display: flex;
    align-items: center;
    margin-top: 30px; /* Adjust the margin as needed */
    position: relative; /* Ensure relative positioning for pseudo-element */
}

.email-icon {
    font-size: 20px; /* Adjust the size as needed */
    color: #000000;
    margin-right: 25px; /* Space between the icon and the text */
    margin-left: 60px;
}

.email-input {
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Sans';
    font-size: 20px;
    color: #000000;
}

.email-input::placeholder {
    color: #000000; /* Placeholder text color */
}

/* Pseudo-element to create the line decoration */
.email-container::after {
    content: '';
    position: absolute;
    bottom: -20px; /* Adjust the distance of the line from the text */
    right: 10px;
    left: 50px;
    width: 80%;
    height: 2px; /* Line thickness */
    background-color: #153860; /* Line color */
}

/* Styles for Password Container */
.password-container {
    top:20px;
    display: flex;
    align-items: center;
    margin-top: 20px; /* Adjust the margin as needed */
    position: relative; /* Ensure relative positioning for pseudo-element */
}

.password-icon {
    font-size: 20px; /* Adjust the size as needed */
    color: #000000;
    margin-right: 25px; /* Space between the icon and the text */
    margin-left: 60px; /* Adjust as needed */
}

.password-input {
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Sans';
    font-size: 20px; /* Adjust the font size as needed */
    color: #000000;
}

.password-input::placeholder {
    color: #000000; /* Placeholder text color */
}

/* Pseudo-element for Password Container */
.password-container::after {
    content: '';
    position: absolute;
    bottom: -20px; /* Adjust the distance of the line from the text */
    right: 10px; /* Adjust as needed */
    left: 50px; /* Adjust as needed */
    width: 80%; /* Adjust the width of the line */
    height: 2px; /* Line thickness */
    background-color: #153860; /* Line color */
}

.forgot-password-link {
    position: absolute;
    left: 70px;
    bottom: 40px;
    font-size: 17px;
    text-decoration: none;
    color: #153860;
}

.forgot-password-link {
    text-decoration: underline;
}
.round-button {
    position: absolute;
    bottom: 30px;
    right: 45px;
    width: 170px;
    height: 50px;
    border-radius: 25px; /* Adjust the border-radius for perfect round shape */
    background-color: #005990;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    font-family: 'bold';
   
}

.round-button:hover {
    background-color: #0f2c52; /* Darken color on hover */
}

@media (max-width: 500px){
    body, html {
        height: 100%;
        margin: 0;
        font-family: 'Sans';
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .login-box {
        position: relative; /* Make .login-box a relatively positioned container */
        width: 300px;
        height: 350px;
        background-color: #C6D3E3;
        border: 1px solid #ccc;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
    }
    
    h1 {
        color: #153860;
        margin: 5px 0; /* Adjust margin to ensure spacing below the heading */
        font-family: 'bold';
        position: relative; /* Ensure h1 is positioned within the flow */
        z-index: 1; /* Lower z-index to stay below the logo */
        font-size: 36px;
        margin-right: 30px;
    }
    
    .logo {
        position: absolute;
        width: 70px; /* Adjust the width as needed */
        top: 13px; /* Adjust as needed to position the logo above the text */
        left: 67%;
        z-index: 2; /* Higher z-index to appear above the h1 */
    }
    
    .email-container {
        display: flex;
        align-items: center;
        margin-top: 30px; /* Adjust the margin as needed */
        margin-left:-40px;
        position: relative; /* Ensure relative positioning for pseudo-element */
    }
    
    .email-icon {
        font-size: 20px; /* Adjust the size as needed */
        color: #000000;
        margin-right: 25px; /* Space between the icon and the text */
        margin-left: 60px;
    }
    
    .email-input {
        border: none;
        outline: none;
        background: transparent;
        font-family: 'Sans';
        font-size: 20px;
        color: #000000;
    }
    
    .email-input::placeholder {
        color: #000000; /* Placeholder text color */
    }
    
    /* Pseudo-element to create the line decoration */
    .email-container::after {
        content: '';
        position: absolute;
        bottom: -20px; /* Adjust the distance of the line from the text */
        right: 10px;
        left: 50px;
        width: 80%;
        height: 2px; /* Line thickness */
        background-color: #153860; /* Line color */
    }
    
    /* Styles for Password Container */
    .password-container {
        top:20px;
        display: flex;
        align-items: center;
        margin-top: 20px; /* Adjust the margin as needed */
        position: relative; /* Ensure relative positioning for pseudo-element */
        margin-left:-40px;
    }
    
    .password-icon {
        font-size: 20px; /* Adjust the size as needed */
        color: #000000;
        margin-right: 25px; /* Space between the icon and the text */
        margin-left: 60px; /* Adjust as needed */
    }
    
    .password-input {
        border: none;
        outline: none;
        background: transparent;
        font-family: 'Sans';
        font-size: 20px; /* Adjust the font size as needed */
        color: #000000;
    }
    
    .password-input::placeholder {
        color: #000000; /* Placeholder text color */
    }
    
    /* Pseudo-element for Password Container */
    .password-container::after {
        content: '';
        position: absolute;
        bottom: -20px; /* Adjust the distance of the line from the text */
        right: 10px; /* Adjust as needed */
        left: 50px; /* Adjust as needed */
        width: 80%; /* Adjust the width of the line */
        height: 2px; /* Line thickness */
        background-color: #153860; /* Line color */
    }
    
    .forgot-password-link {
        position: absolute;
        left: 20px;
        bottom: 50px;
        font-size: 13px;
        text-decoration: none;
        color: #153860;
    }
    
    .forgot-password-link {
        text-decoration: underline;
    }
    .round-button {
        position: absolute;
        bottom: 40px;
        right: 20px;
        width: 120px;
        height: 40px;
        border-radius: 25px; /* Adjust the border-radius for perfect round shape */
        background-color: #005990;
        color: #fff;
        font-size: 13px;
        cursor: pointer;
        font-family: 'bold';
       
    }
    
    .round-button:hover {
        background-color: #0f2c52; /* Darken color on hover */
    }
}